<ng-template #placeholder>
  <div class="placeholder-container">
    <h2>Welcome to TMDB Movie Recommender!</h2>
    <div class="content">
      <p>
        Enter the name of your favorite movie in the search bar and click the Recommend button, and the app
        will recommend 12 similar movies for you.<br>
        <br>
        Our database contains 300k movies from the TMDB database, and the source can be found on <a
          href="https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies">Kaggle</a>.
        The frontend is developed using Angular, and the backend of this app is developed with help of PySpark
        to enable fast querying and processing.<br>
        <br>
        Please wait for approximately 10 seconds to obtain the recommendation results!
      </p>
    </div>
  </div>
</ng-template>

<div [class.wait-cursor]="isRequesting">
  <div class="search-container">
    <div class="search-field" #searchField>
      <input type="text" [(ngModel)]="movieName" required (ngModelChange)="onModelChange($event)" autocomplete="off"/>
      <span class="placeholder">Enter Movie Name</span>
      <div class="search-results" *ngIf="searchResults.length > 0" >
        <div class="search-row" *ngFor="let r of searchResults" (click)="selectResult(r)">
          {{ r }}
        </div>
      </div>
      <span class="error-message">{{ errorMessage }}</span>
    </div>
    
    <button class="search-button" (click)="submit()" [disabled]="isRequesting">
      Recommend
    </button>
  </div>

  <div *ngIf="recommendedMovies.length > 0; else placeholder">
    <div class="search-info">
      <h1>Search Movie Information</h1>
      <app-movie-card [movie]="recommendedMovies[0]"></app-movie-card>
    </div>

    <div class="recommendations">
      <h1>Your Recommendations</h1>
      <div class="movie-container">
        <app-movie-card *ngFor="let movie of recommendedMovies.slice(1)" [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
</div>